.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 95%;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse,
	.container-fluid>.navbar-collapse {
	margin-right: -15px;
	margin-left: -15px;
}

@media ( min-width : 768px) {
	.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse,
		.container-fluid>.navbar-collapse {
		margin-right: 0;
		margin-left: 0;
	}
}

@media ( min-width : 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
		{
		margin-left: -15px;
	}
}
.container-fluid
:before
,
.container-fluid
:after
,

.input-label{
	font-size:14px;
	font-weight:100;
}

.ui-jqgrid tr.jqgrow td {vertical-align:middle !important}
#list-grid .jqgrow{
	cursor:pointer;
}

.logo .police {width:129px;}
.logo .olympic {width:85px; margin-left:36px;}
.defaultCursor{
	cursor:default;
}

.login-wrap {
    width: 100%;
    height: 100%;
    background: url(../Admin_Login.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

input[name="selectRow"] {
    width: 1.3em;
    height: 1.3em;
    background-color: white !important;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #968181;
    -webkit-appearance: none;
    outline: none !important;
    cursor: pointer;
}

input[name="selectRow"]:checked {
    background-color: gray !important;
}

#daum_editor_panel{
    -webkit-appearance: textfield;
    background-color: white;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgrey inset;
    font: -webkit-small-control;
    margin-top: 10px;
    padding: 2px 3px;
    width: 82%;
    margin-left: 10px;
}