<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="com.dwebs.pchpol" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
	    <logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
	    </logger>
	    <logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <AppenderRef ref="console" />
	    </logger>
	    <logger name="jdbc.audit" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
	    </logger>
	    <logger name="jdbc.resultset" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
	    </logger>
        <Root level="DEBUG">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
